body{
    margin: 0;
    padding: 0;
    
}
.container{
    width: 600px;
    height: 800px;
    margin-right: 300px;
    margin-left: 300px;
    background-color: antiquewhite;
}
.container input{
    margin:10px 0;
    width: 200px;
    height: 30px;
margin-left: 100px;
margin-right: 100px;
}
.container button{
width: 150px;
height: 40px;
border: 0cap;
background-color: aqua;
}
.container select{
margin-left: 200px;
margin-right: 200px;
margin-bottom: 1px;
margin-top: 1px;
}